# Nepal Database Project SQLite

In [1]:
# import libary
import sqlite3

In [2]:
# connecting to the Nepal Earthquake Database
%reload_ext sql
%sql sqlite:///nepal.sqlite

In [3]:
%%sql
-- Inspecting the database 
SELECT *
FROM sqlite_schema

 * sqlite:///nepal.sqlite
Done.

[('table', 'id_map', 'id_map', 2, 'CREATE TABLE "id_map" (\n"household_id" INTEGER,\n  "building_id" INTEGER,\n  "vdcmun_id" INTEGER,\n  "district_id" INTEGER\n)'),
 ('index', 'ix_id_map_household_id', 'id_map', 3, 'CREATE INDEX "ix_id_map_household_id"ON "id_map" ("household_id")'),
 ('table', 'building_structure', 'building_structure', 2032, 'CREATE TABLE "building_structure" (\n"building_id" INTEGER,\n  "count_floors_pre_eq" INTEGER,\n  "count_floors_post_eq" INTEGER,\n  "age_building" IN ... (198 characters truncated) ... or_type" TEXT,\n  "other_floor_type" TEXT,\n  "position" TEXT,\n  "plan_configuration" TEXT,\n  "condition_post_eq" TEXT,\n  "superstructure" TEXT\n)'),
 ('index', 'ix_building_structure_building_id', 'building_structure', 2033, 'CREATE INDEX "ix_building_structure_building_id"ON "building_structure" ("building_id")'),
 ('table', 'building_damage', 'building_damage', 12302, 'CREATE TABLE "building_damage" (\n"building_id" INTEGER,\n  "damage_overall_collapse" TEXT,\n  "damage_overall_leaning" TEXT,\n  "damage_overall_adja ... (2923 characters truncated) ... ndslide" INTEGER,\n  "has_geotechnical_risk_rock_fall" INTEGER,\n  "has_geotechnical_risk_flood" INTEGER,\n  "has_geotechnical_risk_other" INTEGER\n)'),
 ('index', 'ix_building_damage_building_id', 'building_damage', 12305, 'CREATE INDEX "ix_building_damage_building_id"ON "building_damage" ("building_id")'),
 ('table', 'household_demographics', 'household_demographics', 31601, 'CREATE TABLE "household_demographics" (\n"household_id" INTEGER,\n  "gender_household_head" TEXT,\n  "age_household_head" REAL,\n  "caste_household"  ... (8 characters truncated) ...  "education_level_household_head" TEXT,\n  "income_level_household" TEXT,\n  "size_household" REAL,\n  "is_bank_account_present_in_household" REAL\n)'),
 ('index', 'ix_household_demographics_household_id', 'household_demographics', 31602, 'CREATE INDEX "ix_household_demographics_household_id"ON "household_demographics" ("household_id")')]

In [5]:
%%sql
-- Getting the names of tables in the Database.
SELECT name
FROM sqlite_schema
WHERE type ="table"

 * sqlite:///nepal.sqlite
Done.

[('id_map',),
 ('building_structure',),
 ('building_damage',),
 ('household_demographics',)]

Now that i know the tables available, I'll be treating some questions to extract valuable insights from the tables provided.

### What are the different types of building structures present in the database?

In [11]:
%%sql
-- Getting the types of building structures present in the database 
SELECT DISTINCT superstructure
FROM building_structure;

 * sqlite:///nepal.sqlite
Done.

[('Stone, mud mortar',),
 ('Bamboo',),
 ('Stone',),
 ('Other',),
 ('Brick, cement mortar',),
 ('Adobe/mud',),
 ('Brick, mud mortar',),
 ('Timber',),
 ('Stone, cement mortar',),
 ('RC, non-engineered',),
 ('RC, engineered',)]

 ### What is the distribution of building structures across different regions or areas?

In [14]:
%%sql
-- Getting the distribution of building structures across different regions
SELECT m.district_id, bs.superstructure, COUNT(*) AS count
FROM building_structure bs
JOIN id_map AS m
ON bs.building_id = m.building_id
GROUP BY m.district_id, bs.superstructure;

 * sqlite:///nepal.sqlite
Done.

[(1, 'Adobe/mud', 1640),
 (1, 'Bamboo', 279),
 (1, 'Brick, cement mortar', 106),
 (1, 'Brick, mud mortar', 6),
 (1, 'Other', 66),
 (1, 'RC, engineered', 5),
 (1, 'RC, non-engineered', 40),
 (1, 'Stone', 43),
 (1, 'Stone, cement mortar', 126),
 (1, 'Stone, mud mortar', 33406),
 (1, 'Timber', 395),
 (2, 'Adobe/mud', 235),
 (2, 'Bamboo', 88),
 (2, 'Brick, cement mortar', 125),
 (2, 'Brick, mud mortar', 15),
 (2, 'Other', 33),
 (2, 'RC, engineered', 104),
 (2, 'RC, non-engineered', 307),
 (2, 'Stone', 57),
 (2, 'Stone, cement mortar', 278),
 (2, 'Stone, mud mortar', 53821),
 (2, 'Timber', 190),
 (3, 'Adobe/mud', 13021),
 (3, 'Bamboo', 93),
 (3, 'Brick, cement mortar', 4475),
 (3, 'Brick, mud mortar', 3196),
 (3, 'Other', 251),
 (3, 'RC, engineered', 1605),
 (3, 'RC, non-engineered', 1867),
 (3, 'Stone', 44),
 (3, 'Stone, cement mortar', 225),
 (3, 'Stone, mud mortar', 57574),
 (3, 'Timber', 333),
 (4, 'Adobe/mud', 1339),
 (4, 'Bamboo', 254),
 (4, 'Brick, cement mortar', 1987),
 (4, 'Brick, mud mortar', 2229),
 (4, 'Other', 103),
 (4, 'RC, engineered', 907),
 (4, 'RC, non-engineered', 2034),
 (4, 'Stone', 3127),
 (4, 'Stone, cement mortar', 1080),
 (4, 'Stone, mud mortar', 62203),
 (4, 'Timber', 620)]

### What is the average age of buildings in the database?

In [16]:
%%sql
-- Getting the average age of buildings in the database
SELECT ROUND(AVG(age_building)) AS average_age_of_buildings
FROM building_structure;

 * sqlite:///nepal.sqlite
Done.

[(27.0,)]

### How many buildings in the database have been damaged?

In [17]:
%%sql
-- Getting the buildings in the database have been damaged
SELECT COUNT(DISTINCT building_id) AS damaged_buildings_count
FROM building_damage;

 * sqlite:///nepal.sqlite
Done.

[(234835,)]

###  Is there any correlation between building structure and building damage?

In [18]:
%%sql
-- Getting the correlation between building structure and building damage
SELECT bs.superstructure, COUNT(*) AS total_buildings, COUNT(bd.building_id) AS damaged_buildings
FROM building_structure bs
LEFT JOIN building_damage bd 
ON bs.building_id = bd.building_id
GROUP BY bs.superstructure;

 * sqlite:///nepal.sqlite
Done.

[('Adobe/mud', 14796, 14796),
 ('Bamboo', 703, 703),
 ('Brick, cement mortar', 5929, 5929),
 ('Brick, mud mortar', 4897, 4897),
 ('Other', 436, 436),
 ('RC, engineered', 2122, 2122),
 ('RC, non-engineered', 3289, 3289),
 ('Stone', 2943, 2943),
 ('Stone, cement mortar', 1376, 1376),
 ('Stone, mud mortar', 196841, 196841),
 ('Timber', 1503, 1503)]

###  Which buildings have a higher damage severity level than the average severity level of all buildings?

In [17]:
%%sql 
SELECT building_id, damage_grade
FROM building_damage
WHERE damage_grade > (
    SELECT AVG(damage_grade)
    FROM building_damage
    
)
limit 25;

 * sqlite:///nepal.sqlite
Done.

[(1, 'Grade 3'),
 (2, 'Grade 5'),
 (3, 'Grade 2'),
 (4, 'Grade 2'),
 (5, 'Grade 1'),
 (6, 'Grade 2'),
 (7, 'Grade 5'),
 (8, 'Grade 2'),
 (9, 'Grade 3'),
 (10, 'Grade 3'),
 (11, 'Grade 2'),
 (12, 'Grade 1'),
 (13, 'Grade 1'),
 (14, 'Grade 2'),
 (15, 'Grade 1'),
 (16, 'Grade 1'),
 (17, 'Grade 3'),
 (18, 'Grade 2'),
 (19, 'Grade 3'),
 (20, 'Grade 1'),
 (21, 'Grade 3'),
 (22, 'Grade 2'),
 (23, 'Grade 2'),
 (24, 'Grade 3'),
 (25, 'Grade 1')]

###  Which region have the highest percentage of buildings with severe damage?

In [19]:
%%sql
WITH region_damage_percentage AS (
  SELECT district_id, COUNT(*) AS total_buildings,
         SUM(CASE WHEN damage_grade = 'Grade 5' THEN 1 ELSE 0 END) AS severe_buildings,
         CAST(SUM(CASE WHEN damage_grade = 'Grade 5' THEN 1 ELSE 0 END) AS FLOAT) / COUNT(*) AS percentage_severe
  FROM building_damage
  JOIN id_map 
  ON building_damage.building_id = id_map.building_id
  GROUP BY district_id
)
SELECT district_id
FROM region_damage_percentage
WHERE percentage_severe = (
    SELECT MAX(percentage_severe)
    FROM region_damage_percentage
);

 * sqlite:///nepal.sqlite
Done.

[(4,)]

###  How many households fall within each income bracket in region (district_id = 4)?

In [27]:
%%sql
WITH region_income_bracket AS (
  SELECT m.district_id, 
         CASE 
            WHEN income_level_household = "Rs. 10 thousand" THEN 'Low'
            WHEN income_level_household = "Rs. 20-30 thousand" THEN 'Medium'
            WHEN income_level_household = "Rs. 30-50 thousand" THEN 'High'
            ELSE 'Unknown'
         END AS income_bracket
  FROM household_demographics AS h
  JOIN id_map AS m
  ON m.household_id = h.household_id
  WHERE m.district_id = 4
)
SELECT income_bracket, COUNT(*) AS household_count
FROM region_income_bracket
GROUP BY income_bracket;

 * sqlite:///nepal.sqlite
Done.

[('High', 3044), ('Low', 41221), ('Medium', 7963), ('Unknown', 23655)]

### Determine the most common technical solution proposed for each type of damage?

In [34]:
%%sql
WITH most_common_solution AS (
    SELECT 
        area_assesed,
        technical_solution_proposed,
        ROW_NUMBER() OVER (PARTITION BY area_assesed ORDER BY COUNT(*) DESC) AS rn
    FROM building_damage
    GROUP BY area_assesed, technical_solution_proposed
)
SELECT area_assesed, technical_solution_proposed
FROM most_common_solution
WHERE rn = 1;

 * sqlite:///nepal.sqlite
Done.

[(None, None),
 ('Both', 'Reconstruction'),
 ('Building removed', 'Reconstruction'),
 ('Exterior', 'Reconstruction'),
 ('Interior', 'Reconstruction'),
 ('Not able to inspect', 'Reconstruction')]

### What is the average age of buildings for each household caste/ethnicity category, along with the total number of households and the average household size in each category?

In [37]:
%%sql
WITH household_info AS (
    SELECT
        hd.caste_household,
        COUNT(DISTINCT hd.household_id) AS num_households,
        ROUND(AVG(hd.size_household)) AS avg_household_size
    FROM household_demographics hd
    GROUP BY hd.caste_household
),
building_info AS (
    SELECT
        bd.building_id,
        bs.age_building
    FROM building_damage bd
    JOIN building_structure bs ON bd.building_id = bs.building_id
)
SELECT
    hi.caste_household,
    AVG(bi.age_building) AS avg_building_age,
    hi.num_households,
    hi.avg_household_size
FROM household_info hi
LEFT JOIN id_map im ON hi.caste_household = im.household_id
LEFT JOIN building_info bi ON im.building_id = bi.building_id
GROUP BY hi.caste_household, hi.num_households, hi.avg_household_size;

 * sqlite:///nepal.sqlite
Done.

[('0thers', None, 1801, 5.0),
 ('Badhaee', None, 30, 5.0),
 ('Badi', None, 15, 5.0),
 ('Bangali', None, 1, 6.0),
 ('Baraee', None, 172, 5.0),
 ('Bhote', None, 900, 4.0),
 ('Bin', None, 1, 3.0),
 ('Bote', None, 7, 4.0),
 ('Brahman-Hill', None, 39301, 5.0),
 ('Brahman-Tarai', None, 56, 4.0),
 ('Brahmu/Baramo', None, 932, 5.0),
 ('Byasi/Sauka', None, 1, 5.0),
 ('Chamar/Harijan/Ram', None, 10, 4.0),
 ('Chepang/Praja', None, 762, 5.0),
 ('Chhetree', None, 43888, 5.0),
 ('Damai/Dholi', None, 5696, 5.0),
 ('Danuwar', None, 1691, 5.0),
 ('Darai', None, 201, 5.0),
 ('Dhanuk', None, 6, 3.0),
 ('Dhimal', None, 1, 5.0),
 ('Dhobi', None, 6, 7.0),
 ('Dom', None, 15, 5.0),
 ('Dusadh/Pasawan/Pasi', None, 1, 5.0),
 ('Gaderi/Bhedhar', None, 9, 5.0),
 ('Gaine', None, 38, 5.0),
 ('Ghale', None, 1539, 5.0),
 ('Gharti/Bhujel', None, 2499, 5.0),
 ('Gurung', None, 16021, 5.0),
 ('Hajam/Thakur', None, 20, 4.0),
 ('Haluwai', None, 4, 6.0),
 ('Hayu', None, 144, 7.0),
 ('Hyolmo', None, 26, 5.0),
 ('Jhangad/Dhagar', None, 42, 4.0),
 ('Jirel', None, 12, 4.0),
 ('Kalar', None, 1, 6.0),
 ('Kalwar', None, 9, 4.0),
 ('Kamar', None, 228, 5.0),
 ('Kami', None, 8774, 5.0),
 ('Kanu', None, 3, 5.0),
 ('Kathbaniyan', None, 4, 6.0),
 ('Kayastha', None, 3, 4.0),
 ('Kewat', None, 4, 2.0),
 ('Khatwe', None, 1, 7.0),
 ('Khawas', None, 54, 5.0),
 ('Koiri/Kushwaha', None, 13, 5.0),
 ('Kori', None, 1, 1.0),
 ('Kumal', None, 2288, 5.0),
 ('Kumhar', None, 47, 4.0),
 ('Kurmi', None, 4, 3.0),
 ('Kusunda', None, 3, 4.0),
 ('Limbu', None, 27, 4.0),
 ('Lohar', None, 24, 6.0),
 ('Magar', None, 20378, 5.0),
 ('Majhi', None, 2348, 5.0),
 ('Mali', None, 2, 5.0),
 ('Mallaha', None, 6, 5.0),
 ('Musalman', None, 800, 5.0),
 ('Newar', None, 25881, 5.0),
 ('Nuniya', None, 8, 4.0),
 ('Pahari', None, 823, 5.0),
 ('Pattharkatta/Kushwadiya', None, 1, 4.0),
 ('Rai', None, 4380, 5.0),
 ('Rajbansi', None, 20, 5.0),
 ('Rajput', None, 3, 4.0),
 ('Raute', None, 2, 13.0),
 ('Samgpang', None, 3, 5.0),
 ('Sanyasi/Dashnami', None, 1480, 5.0),
 ('Sarki', None, 10376, 5.0),
 ('Satar/Santhal', None, 2, 4.0),
 ('Sherpa', None, 3560, 5.0),
 ('Sonar', None, 179, 5.0),
 ('Sudhi', None, 14, 4.0),
 ('Sunuwar', None, 3890, 5.0),
 ('Tamang', None, 46521, 5.0),
 ('Tatma/Tatwa', None, 1, 1.0),
 ('Teli', None, 10, 3.0),
 ('Thakali', None, 3, 4.0),
 ('Thakuri', None, 1273, 5.0),
 ('Thami', None, 543, 5.0),
 ('Tharu', None, 50, 4.0),
 ('Yadav', None, 39, 3.0)]

### What is the distribution of damage grades for each type of foundation used in the buildings?

In [38]:
%%sql
SELECT
    bs.foundation_type,
    bd.damage_grade,
    COUNT(*) AS count
FROM building_structure bs
JOIN building_damage bd ON bs.building_id = bd.building_id
GROUP BY bs.foundation_type, bd.damage_grade;

 * sqlite:///nepal.sqlite
Done.

[('Bamboo/Timber', 'Grade 1', 956),
 ('Bamboo/Timber', 'Grade 2', 464),
 ('Bamboo/Timber', 'Grade 3', 405),
 ('Bamboo/Timber', 'Grade 4', 298),
 ('Bamboo/Timber', 'Grade 5', 309),
 ('Cement-Stone/Brick', 'Grade 1', 1493),
 ('Cement-Stone/Brick', 'Grade 2', 1669),
 ('Cement-Stone/Brick', 'Grade 3', 1895),
 ('Cement-Stone/Brick', 'Grade 4', 1718),
 ('Cement-Stone/Brick', 'Grade 5', 1120),
 ('Mud mortar-Stone/Brick', None, 11),
 ('Mud mortar-Stone/Brick', 'Grade 1', 9830),
 ('Mud mortar-Stone/Brick', 'Grade 2', 25793),
 ('Mud mortar-Stone/Brick', 'Grade 3', 54487),
 ('Mud mortar-Stone/Brick', 'Grade 4', 67598),
 ('Mud mortar-Stone/Brick', 'Grade 5', 57239),
 ('Other', 'Grade 1', 156),
 ('Other', 'Grade 2', 77),
 ('Other', 'Grade 3', 122),
 ('Other', 'Grade 4', 76),
 ('Other', 'Grade 5', 528),
 ('RC', 'Grade 1', 5404),
 ('RC', 'Grade 2', 2395),
 ('RC', 'Grade 3', 637),
 ('RC', 'Grade 4', 105),
 ('RC', 'Grade 5', 50)]

### What is the average age of buildings for each district, considering only buildings with severe damage?

In [40]:
%%sql
WITH severe_damage_buildings AS (
    SELECT
        bs.building_id,
        bs.age_building,
        bd.damage_grade,
        id.district_id
    FROM building_structure bs
    JOIN building_damage bd ON bs.building_id = bd.building_id
    JOIN id_map id ON bs.building_id = id.building_id
    WHERE bd.damage_grade = 'Grade 5'
)
SELECT
    district_id,
    ROUND(AVG(age_building)) AS average_age
FROM severe_damage_buildings
GROUP BY district_id;

 * sqlite:///nepal.sqlite
Done.

[(1, 19.0), (2, 23.0), (3, 36.0), (4, 29.0)]